.keyboard {
  align-items: flex-start;
  background: rgba(100, 100, 100, .97);
  bottom: 0;
  display: flex;
  font-size: 150%;
  justify-content: center;
  /* left: 0; */
  margin-top: 16px;
  padding-bottom: max(8px, env(safe-area-inset-bottom));
  padding: 8px 0;
  position: sticky;
  /* right: 0; */
  width: 100%;
}

.keyboardKeys {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.key {
  font-size: 120%;
  margin: 4px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0,0,0,0);
  border-radius: 2px;
}

.key:focus,
.key:hover {
  border: 1px solid rgba(50, 100, 255, .9);
  background:rgba(157, 214, 255, 0.6);
}

.back {
  color: red;
}

.enter {
  color: green;
}

.key[disabled] {
  background: rgba(180, 180, 180, .90);
  color: gray;
}
