.feedbackButton {
  border: none;
  background: none;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 8px;
}

.feedbackButton.feedbackButtonEmpty .feedbackIcon:before {
  background: rgba(0,0,0,0);
  border: 1px solid rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

.feedbackButton:focus,
.feedbackButton:hover {
  background:rgba(157, 214, 255, 0.6);
}

.feedbackIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackIcon[attr-data='0']:before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: rgb(0, 0, 0, .65);
}

.feedbackIcon[attr-data='1']:before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: rgb(255, 181, .9);
}

.feedbackIcon[attr-data='2']:before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: rgba(29, 169, 29, .9);
}
