.guess {
  margin-right: 8px;
  display: flex;
}

.codeTile {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
