.guess {
  margin-right: 8px;
  display: flex;
}

.codeTile {
  min-width: 80px;
  min-height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.hasValue {
  border: 2px solid black;
  box-shadow: 0px 1px 2px 1px rgb(0, 0, 0, .1);
}
